<p>Angular</p>

<app-heroes [heroes]="heroes"></app-heroes>

<hr>

<!-- 父组件监听子组件的事件 -->
<h2>Should mankind colonize the Universe?</h2>
<h3>Agree: {{agreed}}, Disagree: {{disagreed}}</h3>
<app-voter *ngFor="let v of voters" [name]="v" (voted)="onVoted($event)"></app-voter>

<hr>

<!-- 父组件与子组件通过本地变量的方式实现互动  #timer -->
<button (click)="timer.start()">Start</button>
<button (click)="timer.stop()">Stop</button>
<div class="seconds">{{timer.seconds}}</div>
<app-CountdownTimer #timer></app-CountdownTimer>


<router-outlet></router-outlet>